body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #1992f5;
  }
  
  h2 {
    text-align: center;
    color: black;
    margin-top: 0;
  }
  
  form {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
    position: relative;
  }
  
  .username, .password {
    display: block;
    margin-top: 10px;
    color: #9E9591;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 3px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    text-align: center;
  }
  
  input[type="submit"] {
    background-color: #0059A1;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: cyan;
    text-decoration: none;
  }
  
  form a.register-link {
    display: block;
    text-align: right;
    margin-top: 10px;
    color: black;
    text-decoration: none;
  }
  